.content-wrapper {
  margin: 0 auto;
  padding: 20px;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: #b22222;
}

.date,
.author {
  text-align: center;
  font-size: 18px;
  color: #696969;
}

.message {
  margin-top: 30px;
}

.message h2 {
  color: #b22222;
  border-bottom: 2px solid #b22222;
}

.message p {
  font-size: 16px;
  line-height: 1.6;
}
