* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.top-header {
  background-color: #2f4f4f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.top-header-title {
  font-size: 36px;
  font-weight: 700;
}
.top-content-wrapper {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border: 4px solid #dcdcdc;
  border-radius: 4px;
}

.top-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.top-day {
  display: block;
  background-color: #ffffff;
  color: #2f4f4f;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.top-day:hover {
  background-color: #e0ffff;
}

.top-modal-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
/**************************\
  Basic Modal Styles
\**************************/

.top-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-modal-container {
  background-color: #fff;
  padding: 30px;
  max-width: 800px;
  max-height: 100vh;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f4f4f;
  color: #ffffff;
}

.top-modal-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #ffffff;
  box-sizing: border-box;
}

.top-modal-close {
  background: transparent;
  border: 0;
}

.top-modal-header .top-modal-close:before {
  content: "\2715";
  color: #ffffff;
  font-size: 1.5rem;
}
.top-modal-header .top-modal-close:hover {
  cursor: pointer;
}

.top-modal-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.top-modal-btn {
  padding: 8px;
  cursor: pointer;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.top-micromodal-slide {
  display: none;
}

.top-micromodal-slide.is-open {
  display: block;
}

.top-micromodal-slide[aria-hidden="false"] .top-modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.top-micromodal-slide[aria-hidden="false"] .top-modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.top-micromodal-slide[aria-hidden="true"] .top-modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.top-micromodal-slide[aria-hidden="true"] .top-modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.top-micromodal-slide .top-modal-container,
.top-micromodal-slide .top-modal-overlay {
  will-change: transform;
}
